{
	"smtp server" 		: "",
	"smtp port" 		: "",
	"smtp user" 		: "",
	"smtp password" 	: "",
	"contact address"	: ""
}

/*
	Alltel	[insert 10-digit number] @message.alltel.com
	AT&T	[insert 10-digit number] @txt.att.net
	Boost Mobile	[insert 10-digit number] @myboostmobile.com
	Sprint	[insert 10-digit number] @messaging.sprintpcs.com
	T-Mobile	[insert 10-digit number] @tmomail.net
	US Cellular	[insert 10-digit number] @email.uscc.net
	Verizon	[insert 10-digit number] @vtext.com
	Virgin Mobile	[insert 10-digit number] @vmobl.com
*/