{{template "header.html" .}}
<audio id="alert" src="/sounds/alert.mp3"></audio>
<audio id="done" src="/sounds/done.mp3"></audio>

<div class="row">
	<div id="currentSchedule" class="col-xs-12">
		<table class="table table-bordered">
		
			{{range .MashSteps}}
			<tr class="scheduleStep mash">
				<td class="stepType">Mash Step # </td>
				<td class="temperature">{{.Temperature}}&deg;F</td>
				<td class="duration">{{.Duration}}min</td>
			</tr>
			{{end}}
			{{range .SpargeSteps}}
			<tr class="scheduleStep sparge">
				<td class="stepType">Sparge Step # </td>
				<td class="temperature">{{.Temperature}}&deg;F</td>
				<td class="duration">{{.Duration}}min</td>
			</tr>
			{{end}}
			{{range .BoilSteps}}
			<tr class="scheduleStep boil">
				<td class="stepType">Boil Step # </td>
				<td class="temperature"></td>
				<td class="duration">{{.}}min</td>
			</tr>
			{{end}}
			{{range .ChillSteps}}
			<tr class="scheduleStep chil">
				<td class="stepType">Chill Step # </td>
				<td class="temperature">{{.}}&deg;F</td>
				<td class="duration"></td>
			</tr>
			{{end}}
		</table>
	</div>
</div>


<div class="row">
	<div class="col-xs-12 text-center">
		<div class="row">
			<div id="timer" class="col-xs-12">0</div>
		</div>
		<div class="row">
			<div id="temperature0" class="col-xs-6">
			</div>
			<div id="temperature1" class="col-xs-6">
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<button id="start">start step</button>
				<button id="pause" style="display:none;">pause</button>
				<button id="resume" style="display:none;">resume</button>
			</div>
			<div class="col-xs-4">
				<input id="autoadvance" type="checkbox" />auto-advance		
			</div>
		</div>
	</div>
</div>

<script>
var schedule =
	[
	  {{range .MashSteps}} { Type : "MASH", Temperature : {{.Temperature}}, Duration : {{.Duration}} }, {{end}}
	  {{range .SpargeSteps}} { Type : "SPARGE", Temperature : {{.Temperature}}, Duration : {{.Duration}} }, {{end}}
	  {{range .BoilSteps}} { Type : "BOIL", Duration : {{.}} }, {{end}}
	  {{range .ChillSteps}} { Type : "CHILL", Temperature : {{.}} }, {{end}}
	];


var step = 0;
var autoadvance = false;
var timer = null;
var timeRemaining = 0;
var timeElapsed = 0;

$("#autoadvance").change(function() { autoadvance = !autoadvance; });

function showCurrentStep() {
	if(step > 0) {
		$($(".scheduleStep")[step-1]).removeClass("danger");
	}
	$($(".scheduleStep")[step]).addClass("danger");
	timeRemaining = schedule[step].Duration;
}
showCurrentStep();

function refreshSensorReadings() {
	$.get(
		"/get-temperature-readings",
		function(data) {
			var temps = $.parseJSON(data);
			$("#temperature0").html(temps[0] + "&deg;F");
			$("#temperature1").html(temps[1] + "&deg;F");
		}
	);
}
window.setInterval(refreshSensorReadings(),5000);

function countdownTimer() {
	$("#timer").html(timeRemaining--);
	if(timeRemaining <= 0) {
		step++;
		showCurrentStep();
		if(autoadvance) {
			startTimer();
		} else {
			stopTimer()
			$("#start").show();
			$("#pause").hide();
			$("#resume").hide();
		}
	}
}

function countupTimer() {
	$("#timer").html(timeElapsed++);
}

function startTimer() {
	clearInterval(timer);
	if(schedule[step].Type === "CHILL") {
		timer = window.setInterval(countupTimer, 1000);
	} else {
		timer = window.setInterval(countdownTimer, 1000);
	}
}

function stopTimer() {
	clearInterval(timer);
}

$("#start").click(function() {
	$("#start").hide();
	$("#pause").show();
	startTimer();
});

$("#pause").click(function() {
	$("#resume").show();
	$("#pause").hide();
	stopTimer();
});

$("#resume").click(function() {
	$("#resume").hide();
	$("#pause").show();
	startTimer();
});

function sendAlert(subject, message) {
	$.post(
		"/send-alert",
		JSON.stringify({ Subject : subject, Message : message }),
		function(data) {

		}
	);
}

</script>
{{template "footer.html" .}}