{{template "header.html" .}}
<audio id="alertSound" src="/sounds/alert.mp3"></audio>
<audio id="doneSound" src="/sounds/done.mp3"></audio>

<div class="row">
	<div class="col-xs-12 text-center">
		<div class="row">
			<div id="timer" class="col-xs-12">0</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				<span id="temperature0Label"></span>&nbsp;<span id="temperature0"></span>
			</div>
			<div class="col-xs-6">
				<span id="temperature1Label"></span>&nbsp;<span id="temperature1"></span>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-4"></div>
			<div class="col-xs-4">
				<button id="start">start step</button>
				<button id="pause" style="display:none;">pause</button>
				<button id="resume" style="display:none;">resume</button>
			</div>
			<div class="col-xs-4">
				<input id="autoadvance" type="checkbox" />auto-advance
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div id="currentSchedule" class="col-xs-12">
		<table class="table table-bordered">
		
			{{range .Data.MashSteps}}
			<tr class="scheduleStep mash">
				<td class="stepType">Mash Step # </td>
				<td class="temperature">{{.Temperature}}&deg;F</td>
				<td class="duration">{{.Duration}}min</td>
			</tr>
			{{end}}
			{{range .Data.SpargeSteps}}
			<tr class="scheduleStep sparge">
				<td class="stepType">Sparge Step # </td>
				<td class="temperature">{{.Temperature}}&deg;F</td>
				<td class="duration">{{.Duration}}min</td>
			</tr>
			{{end}}
			{{range .Data.BoilSteps}}
			<tr class="scheduleStep boil">
				<td class="stepType">Boil Step # </td>
				<td class="temperature">--</td>
				<td class="duration">{{.}}min</td>
			</tr>
			{{end}}
			{{range .Data.ChillSteps}}
			<tr class="scheduleStep chil">
				<td class="stepType">Chill Step # </td>
				<td class="temperature">{{.}}&deg;F</td>
				<td class="duration">--</td>
			</tr>
			{{end}}
		</table>
	</div>
</div>

<script>
var schedule =
	[
	  {{range .Data.MashSteps}} { Type : "MASH", Temperature : {{.Temperature}}, Duration : {{.Duration}} }, {{end}}
	  {{range .Data.SpargeSteps}} { Type : "SPARGE", Temperature : {{.Temperature}}, Duration : {{.Duration}} }, {{end}}
	  {{range .Data.BoilSteps}} { Type : "BOIL", Duration : {{.}} }, {{end}}
	  {{range .Data.ChillSteps}} { Type : "CHILL", Temperature : {{.}} }, {{end}}
	];

var temperatureThreshold = 1;

var step = 0;
var autoadvance = false;
var timer = null;
var timeRemaining = null;
var timeElapsed = null;
var temp0InRange = false;
var temp1InRange = false;

$("#autoadvance").change(function() { autoadvance = !autoadvance; });

function formatTime(t) {
	var str = "";
	if(t.hours() < 10) { str += "0" + t.hours(); }
	else { str += t.hours(); }
	str += ":";
	if(t.minutes() < 10) { str += "0" + t.minutes(); }
	else { str += t.minutes(); }
	str += ":";
	if(t.seconds() < 10) { str += "0" + t.seconds(); }
	else { str += t.seconds(); }
	return str;
}

function getFirstSpargeTemp() {
	for(var i = 0; i < schedule.length; i++) {
		if(schedule[i].Type === "SPARGE") {
			return schedule[i].Temperature;
		}
	}
	return -1;
}

function showCurrentStep() {
	if(step > 0) {
		$($(".scheduleStep")[step-1]).removeClass("danger");
	}

	$($(".scheduleStep")[step]).addClass("danger");

	if(schedule[step].Type === "CHILL") {
		$("#temperature0Label").html("Wort Temp");
		$("#temperature1Label").html("Chill Water Temp");

		timeElapsed = moment.duration(0);
		$("#timer").html(formatTime(timeElapsed));
	} else {
		timeRemaining = moment.duration(parseInt(schedule[step].Duration), "minutes");
		$("#timer").html(formatTime(timeRemaining));

		if(schedule[step].Type === "BOIL") {
			$("#temperature0Label").html("Wort Temp");
			$("#temperature1Label").html("Unused");
		} else if(schedule[step].Type === "MASH" || schedule[step].Type === "SPARGE") {
			$("#temperature0Label").html("Mash Temp");
			$("#temperature1Label").html("Sparge Temp");
		}
	}
}
showCurrentStep();

function checkTemperatureRanges(t0, t1) {
	if(schedule[step].Type === "MASH") {
		var spargeTemp = getFirstSpargeTemp();

		if(!temp0InRange && Math.abs(schedule[step].Temperature - t0) <= temperatureThreshold) {
			showLocalMessage("Mash temperature is within desired range.");
			temp0InRange = true;
		}
		else if(!temp1InRange && Math.abs(spargeTemp - t1) <= temperatureThreshold) {
			showLocalMessage("Sparge temperature is within desired range.");
			temp1InRange = true;
		}
		else if(temp0InRange && Math.abs(schedule[step].Temperature - t0) > temperatureThreshold) {
			temp0InRange = false;
			if(schedule[step].Temperature - t0 < temperatureThreshold) {
				showLocalMessage("Mash temperature exceeds threshold");
			} else if(schedule[step].Temperature - t0 > -temperatureThreshold) {
				showLocalMessage("Mash temperature dropped below threshold");
			}
		}
		else if(temp1InRange && Math.abs(spargeTemp - t1) > temperatureThreshold) {
			if(spargeTemp - t1 < temperatureThreshold) {
				showLocalMessage("Sparge temperature exceeds threshold");
			} else if(spargeTemp - t1 > -temperatureThreshold) {
				showLocalMessage("Sparge temperature dropped below threshold");
			}
		}		
	}
	else if(schedule[step].Type === "SPARGE") {
		temp0InRange = false;

		if(schedule[step+1].Type === "SPARGE") {
			var spargeTemp = schedule[step+1].Temperature;

			if(!temp1InRange && Math.abs(spargeTemp - t1) <= temperatureThreshold) {
				showLocalMessage("Sparge temperature is within desired range.");
				temp1InRange = true;
			}
			else if(temp1InRange && Math.abs(spargeTemp - t1) > temperatureThreshold) {
			if(spargeTemp - t1 < temperatureThreshold) {
				showLocalMessage("Sparge temperature exceeds threshold");
			} else if(spargeTemp - t1 > -temperatureThreshold) {
				showLocalMessage("Sparge temperature dropped below threshold");
			}
		}	
		}
	}
	else if(schedule[step].Type === "BOIL") {
		if(!temp0InRange && t0 >= 200) {
			temp0InRange = true;
			showLocalMessage("Approaching boiling temperature.");
		}
	}
	else if(schedule[step].Type === "CHILL") {
		if(schedule[step].Temperature > t0) {
			showLocalMessage("Chill temperature is within desired range.");
		}
	}
}


function refreshSensorReadings() {
	$.get(
		"/get-temperature-readings",
		function(data) {
			var temps = $.parseJSON(data);
			$("#temperature0").html(temps[0] + "&deg;F");
			$("#temperature1").html(temps[1] + "&deg;F");
			checkTemperatureRanges(temps[0], temps[1]);
		}
	);
}
window.setInterval(refreshSensorReadings(),5000);

function countdownTimer() {
	$("#timer").html(formatTime(timeRemaining));
	timeRemaining.subtract(1, "seconds");
	if(timeRemaining.seconds() <= 0) {
		$("#doneSound")[0].play();
		if(schedule[step].Type === "MASH") { showLocalMessage("Mash Step Complete."); }
		else if(schedule[step].Type === "SPARGE") { showLocalMessage("Sparge Step Complete."); }
		else if(schedule[step].Type === "BOIL") { showLocalMessage("Boil Step Complete."); }
		step++;
		showCurrentStep();

		if(autoadvance) {
			startTimer();
		} else {
			stopTimer()
			$("#start").show();
			$("#pause").hide();
			$("#resume").hide();
		}
	}
}

function countupTimer() {
	$("#timer").html(formatTime(timeElapsed));
	timeElapsed.add(1, "seconds")
}

function startTimer() {
	clearInterval(timer);
	if(schedule[step].Type === "CHILL") {
		timer = window.setInterval(countupTimer, 1000);
	} else {
		timer = window.setInterval(countdownTimer, 1000);
	}
}

function stopTimer() {
	clearInterval(timer);
}

$("#start").click(function() {
	$("#start").hide();
	$("#pause").show();
	startTimer();
});

$("#pause").click(function() {
	$("#resume").show();
	$("#pause").hide();
	stopTimer();
});

$("#resume").click(function() {
	$("#resume").hide();
	$("#pause").show();
	startTimer();
});

function sendAlert(subject, message) {
	$.post(
		"/send-alert",
		JSON.stringify({ Subject : subject, Message : message }),
		function(data) {}
	);
}

</script>
{{template "footer.html" .}}