{{template "header.html" .}}
<link rel="stylesheet" href="/css/create.css">

<div id="scheduleAdditions" class="col-xs-12">
	<div class="row">
		<div class="col-xs-8 temperatureInput">
			<input type="range" min="0" max="212" value="0" id="temperature" />
		</div>
		<div class="col-xs-4 temperatureInput">
			<span id="temperatureValue">0</span>&deg;F
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8 durationInput">
			<input type="range" min="0" max="120" value="0" id="duration" />
		</div>
		<div class="col-xs-4 durationInput">
			<span id="durationValue">0</span>min
		</div>
	</div>
	<div class="row text-center">
		<div class="col-xs-4">
			<button id="previous" class="btn btn-default"></button>
		</div>
		<div class="col-xs-4">
			<button id="add" class="btn btn-default"></button>
		</div>
		<div class="col-xs-4">
			<button id="next" class="btn btn-default"></button>
		</div>
	</div>
</div>

<div id="currentSchedule" class="col-xs-12">
	<table class="table table-bordered">
		<tr class="scheduleStep template" style="display:none;">
			<td class="stepType"></td>
			<td class="temperature"></td>
			<td class="duration"></td>
		</tr>
	
	<tr class="mashStep" style="display:none;"></tr>
	<tr class="spargeStep" style="display:none;"></tr>
	<tr class="boilStep" style="display:none;"></tr>
	<tr class="chillStep" style="display:none;"></tr>
	</table>
</div>

<script type="text/javascript" src="/js/create.js"></script>
{{template "footer.html" .}}