<html>
	<head>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.2/moment.min.js"></script>

		<style>
			body {
				height: 10px;
				background: -webkit-linear-gradient(white, blue); /* For Safari 5.1 to 6.0 */
				background: -o-linear-gradient(white, blue); /* For Opera 11.1 to 12.0 */
				background: -moz-linear-gradient(white, blue); /* For Firefox 3.6 to 15 */
				background: linear-gradient(white, blue); /* Standard syntax (must be last) */
			}
			div {
				padding-top: 5px;
				padding-bottom: 5px;
			}
		</style>

		<script>
			function sendNotification(message, sound, timeout, remote) {
				showLocalMessage(message, timeout);
				
				if(sound === "ALERT") { $("#alertSound")[0].play(); }
				else if(sound === "DONE") { $("#doneSound")[0].play(); }

				if(remote) {
					sendAlert(message, message);
				}
			}

			function showLocalMessage(message, closeTimeout) {
				$("#messageArea").html(message);
				$("#alert").fadeIn();

				if(typeof closeTimeout === "number") {
					window.setTimeout(function() {
						closeLocalMessage();
					}, closeTimeout);
				}
			}

			function closeLocalMessage() {
				$("#alert").fadeOut();
			}

			$(document).ready(function() {
				$("#closeLocalMessage").click(closeLocalMessage);
			});
		</script>
	</head>
	<body>
	<div class="container-fluid">
	
		<audio id="alertSound" src="/sounds/alert.mp3"></audio>
		<audio id="doneSound" src="/sounds/done.mp3"></audio>

		<div class="row">
			<div class="col-xs-12">
				<ul class="nav nav-tabs">
					<li role="presentation" {{ if eq .Page "HOME" }}class="active"{{ end }}><a href="/">Home</a></li>
					<li role="presentation" {{ if eq .Page "CREATE" }}class="active"{{ end }}><a href="/create">Create Schedule</a></li>
					<li role="presentation" {{ if eq .Page "LOAD" }}class="active"{{ end }}><a href="/load">Load Schedule</a></li>
					{{ if eq .Page "BREW" }}<li role="presentation" class="active"><a href="#">BREW!</a></li>{{ end }}
				</ul>
			</div>
		</div>
		<div class="row">
			<div id="alert" class="row alert alert-warning" role="alert" style="display:none;">
				<div id="messageArea" class="col-xs-11 text-center">TEST</div>
				<div class="col-xs-1"><button id="closeLocalMessage" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button></div>
			</div>
		</div>