{{template "header.html" .}}
<div class="col-xs-12">
	<div class="row">
		<div class="col-xs-4">
			<select id="file" style="width: 100%;">
			{{range .Data}}
				<option value="{{.Name}}">{{.Name}}</option>
			{{end}}
			</select>
		</div>
		<div class="col-xs-4">
			<button id="select" class="btn btn-default">load schedule</button>
		</div>
		<div class="col-xs-4">
			<button id="confirm" class="btn btn-default" style="display:none;">confirm schedule</button>
		</div>
	</div>
	
	<form id="hiddenPostForm" method="POST" action="/brewday" style="display:none;">
		<input name="schedule" type="text"/>
	</form>
</div>
<div class="row">
	<div id="currentSchedule" class="col-xs-12">
		<table class="table table-bordered">
			<tr class="scheduleStep template" style="display:none;">
				<td class="stepType"></td>
				<td class="temperature"></td>
				<td class="duration"></td>
			</tr>
		
		<tr class="mashStep" style="display:none;"></tr>
		<tr class="spargeStep" style="display:none;"></tr>
		<tr class="boilStep" style="display:none;"></tr>
		<tr class="chillStep" style="display:none;"></tr>
		</table>
	</div>
</div>
<script>
var selectedFile = "";

$("#select").click(function() {
	$.post(
		"load-file",
		JSON.stringify({ Filename : $("#file").val() }),
		function(data, textStatus, jqXHR) {
			$("#mashSteps").empty();
			$("#spargeSteps").empty();
			$("#boilSteps").empty();
			$("#chillSteps").empty();

			$("#confirm").show();
			selectedFile = $("#file").val();
			displayFile(JSON.parse(data));
		}
	);
});

$("#confirm").click(function() {
	$("#hiddenPostForm input").val(selectedFile);
	$("#hiddenPostForm").submit();
});

function displayFile(file) {
	$.each(file.MashSteps, function(index, value) {
		$row = $(".scheduleStep.template").clone();
		$row.removeClass("template").addClass("mashStep");
		$row.find(".stepType").html("Mash Step #" + (index + 1));
		$row.find(".temperature").html(value.Temperature + "&deg;F");
		$row.find(".duration").html(value.Duration + "min");
		$row.show();
		$("tr.mashStep:last").after($row);
	});

	$.each(file.SpargeSteps, function(index, value) {
		$row = $(".scheduleStep.template").clone();
		$row.removeClass("template").addClass("spargeStep");
		$row.find(".stepType").html("Sparge Step #" + (index + 1));
		$row.find(".temperature").html(value.Temperature + "&deg;F");
		$row.find(".duration").html(value.Duration + "min");
		$row.show();
		$("tr.spargeStep:last").after($row);
	});

	$.each(file.BoilSteps, function(index, value) {
		$row = $(".scheduleStep.template").clone();
		$row.removeClass("template").addClass("boilStep");
		$row.find(".stepType").html("Boil Step #" + (index + 1));
		$row.find(".temperature").html("--");
		$row.find(".duration").html(value + "min");
		$row.show();
		$("tr.boilStep:last").after($row);
	});

	$.each(file.ChillSteps, function(index, value) {
		$row = $(".scheduleStep.template").clone();
		$row.removeClass("template").addClass("chillStep");
		$row.find(".stepType").html("Chill Step #" + (index + 1));
		$row.find(".temperature").html(value + "&deg;F");
		$row.find(".duration").html("--");
		$row.show();
		$("tr.chillStep:last").after($row);
	});
}
</script>
{{template "footer.html" .}}